{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'bookbase/css/bootstrap.min.css'%}" />
	<link rel="stylesheet" type="text/css" href="{% static 'bookbase/css/style.css'%}">	
	<link rel="stylesheet" type="text/css" href="{% static 'bookbase/css/font-awesome.min.css'%}">
	<script src="{% static 'bookbase/js/jquery.min.js' %}"></script>
	<script src="{% static 'bookbase/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'bookbase/js/script.js' %}"></script>
</head>
